html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 10fr 0.5fr;
    grid-template-rows: auto;
    background-color: aqua;
}
    #tool-settings {
        grid-column: 1 / 4;
        background-color: green;
    }

    #toolbar {
        padding: 1rem;
        border-bottom: 1px solid black;
        grid-column: 1 / 2;
        background-color: blue;
    }

    canvas {
        background-color: red;
        grid-column: 2 / 3;
        margin: 0 auto;
    }