html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.toolbar {
    padding: 1rem;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

canvas {
    border: 2px solid black;
    display: block;
}